/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@font-face {
  font-family: 'call_of_ops_dutyregular';
  src: url('https://res.cloudinary.com/dvwva99mi/raw/upload/v1665595846/BO3%20LEGACY/webfontkit-20221012-132820/callofopsduty-qayq-webfont_ktxw28.woff2') format('woff2'),
       url('https://res.cloudinary.com/dvwva99mi/raw/upload/v1665595846/BO3%20LEGACY/webfontkit-20221012-132820/callofopsduty-qayq-webfont_r4cts2.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'black_ops_2regular';
  src: url('https://res.cloudinary.com/dvwva99mi/raw/upload/v1665595846/BO3%20LEGACY/webfontkit-20221012-132820/black_ops_2_font-webfont_jg6xr9.woff2') format('woff2'),
       url('https://res.cloudinary.com/dvwva99mi/raw/upload/v1665595846/BO3%20LEGACY/webfontkit-20221012-132820/black_ops_2_font-webfont_mc9zqj.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* GENERAL */

:root {
  font-family: 'call_of_ops_dutyregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.2rem;
}

* {
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

#app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#animatedBackground {
  margin: 3rem -1rem -1rem -1rem;
  z-index: -1;
  position: fixed;
}

input,
select,
option,
textarea {
  font-family: 'call_of_ops_dutyregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  color: black;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 20rem;
  margin-bottom: 1rem;
}

button {
  font-family: 'call_of_ops_dutyregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  width: 10rem;
}

/* NAV BAR */

nav {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 4rem;
  height: auto;
  line-height: 1.2rem;
  width: 100vw;
  padding: 1rem;
  margin-left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

nav > ul > li:first-child {
  padding-bottom: 4px;
  border-bottom: 4px solid orange;
}

nav a {
  text-decoration: none;
  font-family: 'black_ops_2regular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* SECTION */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  margin: 4rem 0 1rem;
  font-size: 2rem;
}

#specialists-section {
  margin-top: 4rem;
}

.section-container > .figures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: baseline;
  align-content: center;
}

.section-container > .figures-container > figure {
  width: 20rem;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  align-self: center;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.figure-description {
  background-color: black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.section-container > .figures-container > figure > .image-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-container > .figures-container > figure > .image-container > img {
  height: 100%;
  width: calc(100% + 2rem);
  object-fit: contain;
  border-radius: 0.5rem;
}

.gun-stats {
  background-color: black;
  padding: 1rem;
  border-radius: 0.5rem;
}

#random-figures {
  display: flex;
  justify-content: center;
}

footer {
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer > p {
  color: var(--primary-highligth);
}

footer > ul {
  display: inline;
}

footer img {
  height: 4rem;
  z-index: 1;
}
